
html {
  background-color: #89bdd3
}
img {
  background-size: cover;
}
h1 {
  font-family: 'quicksand', sans-serif;
  font-size: 80px;
  text-align: center;
  color: mintcream;
}
.containers {
  display: -webkit-flex;
  display: flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.buycontainer {
  display: -webkit-flex;
  display: flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 220px;
  margin-top: 20px;
  margin-right: 80px;
  align-items: center;
  background-color: #ff80ab;
  box-sizing: border-box;
  padding: 10px;
  border: 40px;
  border-radius: 50px;
  border-color: white;
  border-width: medium;
}
.boughtcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 150px;
  margin-top: 20px;
  align-items: center;
  background-color: #9ad3de;
  box-sizing: border-box;
  padding: 10px;
  border: 20px;
  border-radius: 50px;
  border-color: white;
  border-width: medium;

}
.forms {
  display:inline-block;
  align-items: center;
}
button {
  background: #34ced9;
  background-image: -webkit-linear-gradient(top, #34ced9, #2bb857);
  background-image: -moz-linear-gradient(top, #34ced9, #2bb857);
  background-image: -ms-linear-gradient(top, #34ced9, #2bb857);
  background-image: -o-linear-gradient(top, #34ced9, #2bb857);
  background-image: linear-gradient(to bottom, #34ced9, #2bb857);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
}

button:hover {
  background: #3ce6fc;
  background-image: -webkit-linear-gradient(top, #3ce6fc, #34d9b0);
  background-image: -moz-linear-gradient(top, #3ce6fc, #34d9b0);
  background-image: -ms-linear-gradient(top, #3ce6fc, #34d9b0);
  background-image: -o-linear-gradient(top, #3ce6fc, #34d9b0);
  background-image: linear-gradient(to bottom, #3ce6fc, #34d9b0);
  text-decoration: none;
}

ul {
  box-sizing: border-box;
  margin: 50px;
  list-style-type: none;
}
li {
  box-sizing: border-box;
  margin:10px;
  font-family: 'quicksand';
  font-size: 30px
}
@media (max-width: 900px) {
  .buycontainer {
    margin-left: 137.5px;
    margin-top: 12.5px;
    margin-right: 50px;
    align-items: center;
    background-color: #ff80ab;
    box-sizing: border-box;
    padding: 12.5px;
    border: 23.5px;
    border-radius: 50px;
    border-color: white;
  }
  .boughtcontainer {
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 12.5px;
    align-items: center;
    background-color: #9ad3de;
    box-sizing: border-box;
    padding: 12.5px;
    border: 23.5px;
    border-radius: 50px;
  }
  h1 {
    font-family: 'quicksand', sans-serif;
    font-size: 50px;
  }
  button {
    font-size: 8.75px
    padding: 1px 1px 1px 1px;
  }
  li {
    margin:6.25px;
    font-size: 18.75px
  }
  ul {
    margin: 31.25px;
}
